#menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 25%;
    height: 100%;
    background-color: #a1a1a1;
    color: white;
    text-align: center;
}

.logo {
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.option {
    padding-top: 5px;
    padding-bottom: 5px;
}

.option:hover {
    background-color: #808080;
}

#content {
    width: 70%;
    margin-left: 30%;
}

.listContent {
    border-radius: 10px;
    border: 1px solid grey;
    position: relative;
    padding: 10px;
}

.listContent hr {
    height: 10px;
    background-color: black;
    width: 80%;
    margin: auto;
}